table,th,td{
border: 1px solid black;
text-align: center;

}




th{background-color: yellow;
height: 10px}
.name{
    background-color: red;
    width: 200px;
    height: 50px;
}
.salary{
    background-color: green;
    width: 200px;
    height: 50px;
    
}


tr{
    height: 10px;
    width: 200px;
}
.boss{
    height: 3px ;
}
caption{background-color: aqua;}